
<div class="user_info">
  <img class="avatar" src="Guest-sym.svg">
  <p class="blue_1"> Hi {{name}}!</p>
</div>
<div class="title">
  <h4> Create Flight Plan </h4>
</div>
<div class="wrapper2">
<div class="controllers">
  <p class="blue_1 instruct">Set destination by clicking on the map or enter your latitude and longiture below</p>
  <div style="width:100%;">
    <input type="text" class="airport_input" placeholder="Enter airport location here.(Optional)" ng-model="airport">
    <a href="" class="add_button"><img src="AddWht-sym.svg"></a>
  </div>
    <div class="inline_field left_field">
      <span>Latitude</span><input type="number"  placeholder=" Enter here" ng-model="in_lat">
    </div>
    <div class="inline_field right_field">
      <span>Longitude</span><input type="number"  placeholder=" Enter here" ng-model="in_lng"><a href=""  id="add_button"><img src="AddWht-sym.svg"></a>
    </div>
  <button class="btn">Clear Coordinates<img class="clear_icon" src="ClearDrk-sym.svg"></button>
</div>
<div class="coordinates_table  ">
  <table class="coordinates-table responsive-table">
    <tr>
     <th class="noborder_left"><img src="Marker-sym.svg"></th><th> Latitude </th><th> Longitude </th><th class="noborder_right"> Distance </th>
    </tr>
    <tbody>
     <tr ng-repeat="c in coordinates">
        <td><span>{{marker_list[$index].label}}</span></td><td><span>{{c.lat.toFixed(3)}}</span></td><td><span>{{c.lng.toFixed(3)}}</span></td><td>{{distances[$index]}} m</td>
        <td><a href=""  ng-click="removeNode($index);" style="color:#fff;">X</a></td>
     </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="distance_data">
    <div><span>Total Distance:</span><span class="distance_field">{{totalDistance.toFixed(3)}}m</span></div>
    <!-- <div class="unit_box"><a class="unit" href="">Miles</a> <a class="unit" href="">Kilometers</a></div> -->
  </div>
  <div class="speed_field">
    <span>Speed</span><input type="number"  placeholder=" Enter speed in knots" ng-model="speed">
    <a href="" class="add_button"><img src="AddWht-sym.svg"></a>
  </div>
</div>
  <div class="time_data">
    <button class="btn time"> Calculate travel time<img src="TravelTimeWht-sym.svg"> </button> <span class="time_result"> 0 hr: 0 min </span>
  </div>
  <div class="clear_controllers">
   <button class="btn clear1">Clear Coordinates</button><img class="clear_icon1" src="ClearDrk-sym.svg">
   <button class="btn clear1 clear2">Reset map</button><img class="clear_icon1" src="ResetDrk-sym.svg">
  </div>
  <div>
    <button class="btn save">Save route</button>
  </div>
</div>
