
<div class="user_info">
  <img class="avatar" src="Guest-sym.svg">
  <p class="blue_1"> Hi {{name}}!</p>
</div>
<div class="title">
  <h4> Create Flight Plan </h4>
</div>
<div class="wrapper2">
<div class="controllers">
  <p class="blue_1 instruct">Set destination by clicking on the map or enter your latitude and longitude</p>
  <div class='user_coor row'>
    <div class="inline_field boarder">
      <div>
      <span>Latitude</span><input type="number"  placeholder=" Enter here" ng-model="in_lat">
    </div>
    </div>
    <div class="inline_field right_field boarder">
      <span>Longitude</span><input type="number" id="lng-pain"  placeholder="Enter here" ng-model="in_lng"> &nbsp&nbsp<a href="" ng-click="getUserData();" class="add_button"><img class="add_button" src="AddWht-sym.svg"></a>
    </div>
  </div>
  <!-- <div style="width:100%;" class="boarder lng-long">
    <input type="text" class="airport_input" placeholder="Enter airport location here.(Optional)" ng-model="airport"><a href="" class="add_button"><img src="AddWht-sym.svg"></a>
  </div> -->
  <button ng-click="clearUserInput();" class="btn add-margin">Clear Coordinates<img class="clear_icon" src="ClearDrk-sym.svg"></button>
</div>
<div class="coordinates_table  ">
  <table class="coordinates-table">
    <tr>
     <th class="noborder_left"><img src="Marker-sym.svg"></th><th> Latitude </th><th> Longitude </th><th class="noborder_right"> Distance </th>
    </tr>
    <tbody>
     <tr ng-repeat="c in coordinates">
        <td><span style="color:#fff;">{{marker_list[$index].label}}</span></td><td><span>{{c.lat.toFixed(3)}}</span></td><td><span>{{c.lng.toFixed(3)}}</span></td><td>{{distances[$index]}} m</td>
        <td><a href=""  ng-click="removeNode($index);"><img src="DeleteWht-sym.svg"></a></td>
     </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="distance_data">
    <div class="boarder pad"><span>Total Distance:</span><span class="distance_field">{{totalDistance.toFixed(3)}}m</span></div>
    <!-- <div class="unit_box"><a class="unit" href="">Miles</a> <a class="unit" href="">Kilometers</a></div> -->
  </div>
  <div class="speed_field boarder">
    <span>Speed</span><input type="number"  placeholder=" Enter speed in knots" ng-model="speed">
  </div>
</div>
  <div class="time_data">
    <button ng-click="calcTravelTime();" class="btn time"> Calculate travel time<img src="TravelTimeWht-sym.svg"> </button> <span class="time_result"> {{travelTime}}</span>
  </div>
  <div class="clear_controllers">
   <button ng-click="clearMarkerAndPoly(null,'actions');"class="btn clear1">Clear Table Coordinates <img class="clear_icon" src="ClearDrk-sym.svg"></button>
   <button ng-click="refreshMap();" class="btn clear1 ">Reset map <img class="clear_icon" src="ResetDrk-sym.svg"></button>
  </div>
  <div>
    <button id="save" ng-show="notGuest" ng-click="saveRoute();" class="btn save">Save route</button>
