
<div class="container">
  <h5 class="action-title">Your Saved Routes</h5>
  <div ng-repeat="route in allRoutes">
 <h5 id="{{route.id}}"> <i  class="material-icons">room</i>  {{route.name}} </h5>
    <p> distance: {{route.distance}} Miles
    <span style="float:right">
    <a href class="show-link" ng-click="getNodes(route.id);">show</a> |
    <a href class="delete-link" ng-click="removeRoute(route.id)">delete</a>
  </span>
   </p>
  </div>

  <a class="waves-effect waves-light btn plan_button" ng-click="refreshMap();"> Reset Map </a>
</div>
