html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.wrapper{
  background-image: url(image_path('landing.jpg'));
  background-size:cover;
  height:100vh;
  margin:0px;
  padding:0px;
}

h1 {margin:0px;}
a.signup{
   margin:10px;
   float:right;
   font-size: 20px;
   color:#fff;
   padding: 5px 10px;
   background: rgba(0, 0, 102,0.5);
   border-radius: 3px;
}

/*.title{
  font-family:ideal sans-serif;
  text-align: center;
  padding:200px;
  color:#fff;
  font-size: 80px;
}*/
.logo{
  clear:both;
  display: block;
  margin:0 auto;
  padding:100px;

}
a.brand-logo {
  margin:5px 10px;
}
.options {
 margin: 0 auto;
 width:500px;
 padding:0px;
 text-align: center;
}

#map {
  height:93vh;
  width:65%;
  float:right;
}

#actions{
  height:93vh;
  width: 35%;
  float:left;
  background:#049DBF;
  overflow-y: scroll;
}

.login-landing-page{
  width:200px;
  font-size: 20px;
  background: #000066;
}

.action-title{
  color:#fff;
  text-align: center;
  margin-bottom:50px;
}

.plan-label{
  color:#fff;
}

.pad { padding-right: 400px;}

.save_route{
  display: block;
  margin:0 auto;
  position: absolute;
  bottom:20px;
  left:160px;
}
.plan{
  width:95%;
}
#speed_input{
  width:160px;
  padding-left:10px;

}
.travel_time{
  padding:20px;
  clear:both;
}
.weather_location{
  text-align: center;
  color:#fff;
}
.profile{
  padding:50px;
  text-align: center;
}

.profile_pic{
  border-radius: 3px;
  width:100%;
  height:100%;
  display: block;
  float:left;
}
.user_info{
  text-align: left;
  padding:50px;
}
#modal3{
  width:1000px;
}

.plan_button{
  display: inline-block;
}
.plan_time{
  display: block;
  margin:0 auto;
  width:80%;
}

.show-link{
  color:#fff;
  font-size: 14px;
  padding:5px;
}
.delete-link{
  color:#ffcdd2;
  font-size: 14px;
  padding:5px;
  text-decoration: underline;
}
.location-fields{
  padding-top:30px;
  padding-bottom:10px;
  width:90%;
  margin:20px;
  //border-top:1px solid #fff;
}

.location_input{
 display: inline-block;
 margin-right:20px;
 max-width:150px;
}
.location_submit{
  max-width:150px;
 float:right;
}
.green_alert{
  color:#81c784;
  text-align: center;
  font-size: 18px;
}
.red_alert{
  color:#b71c1c;
  text-align: center;
  font-size: 18px;
}
@media (max-width: 500px) {
  .plan_button{
    display: block;
    width:80%;
    margin:10px;

  }
}
