html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Asap', sans-serif;
}

span {
  color:#000;
  margin:0px;
  display: inline;
  padding-bottom: 5px;
  padding-left:2px;
  font-size: 13px;
}
input[type=number],input[type=text]{
  border:none;
  padding-left:5px;
  width:auto;
  margin:  0 0 5px 0;
}
.wrapper{
  background-image: url(image_path('landing.jpg'));
  background-size:cover;
  height:100vh;
  margin:0px;
  padding:0px;
}

.nav-wrapper{
  background: #2C3E50;
}

h1 {margin:0px;}

.wrapper2{
  padding:10px 25px;
}
.logo{
  clear:both;
  display: block;
  margin:0 auto;
  padding:100px;

}
a.brand-logo {
  margin:5px 10px;
}
.options {
   margin: 0 auto;
   width:100%;
   padding-top:50px;
   text-align: center;
   height:300px;
   background:#2980B9;
   position:absolute;
   bottom:0px;
}
.guestlogin{
  visibility: hidden;
}
#modal3{
  width:30%;
}
.center-button{
  display: block;
  margin:0 auto;
}
#actions{
  height:93vh;
  width:25%;
  width:550px;
  float:left;
  background:#3498DB;
  overflow-y: scroll;
  overflow-x: scroll;
  display: inline-block;
}

#map {
  height:93vh;
  width:75%;
  width:calc(100% - 550px);
  float:right;
}


.login-landing-page{
  width:200px;
  font-size: 20px;
  background: #00FFFA;
  border:none;
  color:#000;
}

.action-title{
  color:#fff;
  text-align: center;
  margin-bottom:50px;
}

.user_info{
  background: #2C3E50;
  min-height:150px;
  margin:0;
  padding:20px;
  text-align: center;
}
.title{
  background:#2980B9;
  color:#fff;
  text-align: center;
  margin:0;
  padding:20px;
}
.controllers{
  padding:10px;
}
.instruct{
  padding:20px 40px;
  text-align: center;
  font-size: 20px;
}
.latlng_filed{
  width:100%;
  padding:0px;
  margin-bottom:20px;
}
.inline_field{
  display:inline-block;

}
.inline_field span{
  display: inline;
}
.inline_field input{
  display: inline;

}

.right_field{
  width:45%;
}
#lng-pain{
  width:70px;
}
input.airport_input{
  width:90%;
  display: inline-block;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
// border-bottom: 1px solid #f00;
// box-shadow: 0 1px 0 0 #f00;
border-bottom:none;
box-shadow: none;
margin:0 0 5px 0;
font-size: 14px;
}
input.signup_field{
  border-bottom: 1px solid #9e9e9e;
  width:100%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add_button{
  margin-left:20px;
vertical-align: middle;
}
.user_coor{
  margin-bottom: 30px;
}
.btn{
  display: block;
  margin:0 auto;
  background: #D1D1D1;
  border-radius: 3px;
  color:#444;
  text-transform: none;
  margin-bottom:40px;
  min-height:40px;
  overflow:hidden;
}
.btn:hover{
  background: #f2f2f2;
}
.clear_icon{
  padding-left:5px;
  vertical-align:middle;
}
.clear_icon1{
  padding-left:5px;
  vertical-align:middle;
  margin-bottom: 40px;
}
.lng-long{
  margin-bottom:50px;
}
.coordinates-table{
   width:95%;
   margin: 0 auto;
}
.coordinates-table th {
  color:#000;
  padding:10px;
//  border:1px solid #2C3E50;
  border-top: none;
  background:#3498DB;
}

.unit_box{
  float:left;
  margin-top:25px;
}
.unit{
  padding-right:10px;
  color:#fff;
  text-decoration: underline;
}
.distance_data{
  display:  inline-block;
  width:45%;
  border:none;
  padding-bottom:10px;
  padding-top: 37px;
  margin:0 0 5px 0;
  float:left;
}
.distance_data span{
  border:none;
}
.pad{
  padding-bottom:30px;
}
.distance_field{
  color:#fff;
  padding-left:5px;
}
.speed_field{
 display: inline-block;
 float: right;
 padding-bottom:10px;
 padding-top: 8px;
 margin-top:20px;
}

.speed_field input{
  width:auto;
}
.time_data{
  margin:20px 10px;
}
.time{
  float:left;
  background: #2C3E50;
  color:#fff;
  width:75%;
  min-height: 45px;
}
.time:hover{
  background: #486684;
}
.time img{
  vertical-align: middle;
  padding-left:10px;
}
.time_result{
  background: #fff;
  border:none;
  color:#000;
  float:right;
  width:22%;
  vertical-align: middle;
  padding-top:10px;
  text-align: center;
  height:45px;
  border-radius: 3px;
}
.clear_controllers{
   margin:0 auto;
   text-align: center;
}
.clear1{
  display: inline-block;

  vertical-align: middle;
}
.clear_icon{
  vertical-align: middle;
}
.save{
  background: #00FFFA;
  color:#444;
  width:95%;
  font-size: 20px;
  min-height:50px;
}
a.save{
 padding-top: 8px;
}
.save:hover{
  background: #99fffd;
}
.boarder{
  border-bottom: 1px solid #2C3E50;
}
.delete-link{
  padding-left:10px;
}
.reset_save{
  text-align: center;
  margin:0 auto;
  padding-top: 100px;
}
.route_item{
  border: none;
  border-bottom: 1px solid #2980B9;
  padding-bottom: 10px;
}
////////////colors//////////////////
.blue_1{
  color:#00FFFA;
}
@media (max-width: 900px) {

   .time_result{
     display: block;
   }
}
